.Board {
  width: 410px;
  height: 410px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
